<body class="body-escuro">
    <div class="conteiner col-12 d-flex">
        <div class="left-login col-md-7 d-md-flex d-sm-none">
            <h1>Faça login para <br> Entrar no nosso sistema</h1>
            <img src="../../../assets/img/authentication-animate.svg" alt="img" class="left-image">
        </div>
        <div class="right-login col-md-4 px-5 col-sm-12">
            <div id="b_login">
                <h2 class="h2-1 d-initial">Login</h2>
                
                <form class="form-1 d-initial" [formGroup]="loginForm" (submit)="submitLogin()">
                    <div class="usuario-senha">
                        <div class="col-md-12">
                            <div>
                                <input formControlName="usuario" type="name" name="usuario" class="form-control w-100" placeholder="Usuario">
                            </div>
                            <div class="mensagem-erro" *ngIf="loginForm.get('usuario')?.errors?.['required'] && loginForm.get('usuario')?.touched">
                                Campo obrigatório!!
                            </div>
                            <div class="mensagem-erro" *ngIf="loginForm.get('usuario')?.errors?.['usuario'] && loginForm.get('usuario')?.touched">
                                Usuário não encontrado!!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>   
                                <input formControlName="senha" type="password" name="senha" class="form-control w-100" aria-describedby="passwordHelpBlock" id="password" placeholder="Senha">
                            </div>
                            <div class="mensagem-erro" *ngIf="loginForm.get('usuario')?.errors?.['required'] && loginForm.get('usuario')?.touched">
                                Campo obrigatório!!
                            </div>
                        </div>   
                    </div>
                    <div id="login">
                        <button  type="submit" class="btn btn-primary btn-lg JUS w-100 botao-loguin">Login</button>
                    </div>
                </form>
                
                <div class="cadastro">
                    <button type="button"  class="btn btn-primary btn-lg JUS botao-cadastro"><a routerLink="/cadastro">Criar conta</a> </button>
                </div>
            </div>
        </div>
    </div>
</body>





